/**/target/
/**/.classpath
/**/.project
/**/.settings/
/**/.idea/
/**/*.iml
/**/.mvn/
/**/.vscode/
/**/.DS_Store
/**/logs/
/**/*.log
/**/.env
/**/.env.*
/**/build/
/**/out/
/**/.gradle/
/**/.tmp/
/**/tmp/
/**/bin/
/**/node_modules/